@import './src/variables';
#reference {
  margin-top: 100px;
    position: relative;
    background-color: $main-color;


    height: 800px;
    @media (min-width: $grid-size-sm) {
        height: 1000px;
    }
    @media (min-width: $grid-size-md) {
        height: 900px;
    }
    @media (min-width: $grid-size-lg) {
        height: 800px;
    }

    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: url('/assets/images/reference.jpg') no-repeat top center;
        background-size: cover;
        -webkit-filter: opacity(.2);
        -moz-filter: opacity(.2);
        -o-filter: opacity(.2);
        -ms-filter: opacity(.2);
        filter: opacity(.2);
    }
    .padding {
        position: relative;
        padding: 100px 0;
        @media (min-width: $grid-size-sm) {
            padding: 250px 0;
        }
    }
}

.carousel {
    padding: 100px 0;
}

.carousel-inner {
    background-color: #444;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    font-size: 15px;
    padding: 5px 50px;
    @media (min-width: $grid-size-sm) {
        padding: 10px 100px;
    }
    @media (min-width: $grid-size-md) {
        padding: 10px 200px;
    }
    @media (min-width: $grid-size-lg) {
        padding: 10px 300px;
    }
}

img {
    -webkit-filter: opacity(.3);
    -moz-filter: opacity(.3);
    -o-filter: opacity(.3);
    -ms-filter: opacity(.3);
    filter: opacity(.3);
}
