<div id="reference">
  <div class="padding">
    <h2>{{ 'reference.title' | translate }}</h2>
    <carousel>
      <slide *ngFor="let item of items">
        <div class="text-center py-5 text-white">
          <p>{{ 'reference.'+item+'.desc' | translate }}</p>
          <strong>{{ 'reference.'+item+'.title' | translate }}</strong>
        </div>
      </slide>
      
    </carousel>
  </div>
</div>