<app-modal>
  <div modal-body>
    <div class="text-center">
      <img *ngIf="modal.info && modal.info.img" src="/assets/images/medailonky/{{modal.info.img}}.jpg" class="rounded-circle" alt="{{modal.name}}"
        width="150">
      <h2>{{modal.name}}</h2>
      <h3 *ngIf="modal.title">{{modal.title}}</h3>
      <p>{{modal.desc}}</p>
      <a *ngIf="modal.info && modal.info.email" href="mailto:{{modal.info.email}}">{{modal.info.email}}</a>
      <br>
      <a *ngIf="modal.info && modal.info.phone" href="tel:{{modal.info.phone}}">{{modal.info.phone}}</a>
      <br>
      <a *ngIf="modal.info && modal.info.linkedIn" href="{{modal.info.linkedIn}}">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
</app-modal>