<app-navigation></app-navigation>
<app-home id="home"></app-home>
<app-headhunting id="headhunting"></app-headhunting>
<app-services id="services"></app-services>
<app-reference id="reference"></app-reference>
<app-contact id="contact"></app-contact>
<div class="footerx">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 text-left">
        <a routerLink="gdpr">{{ 'contact.privacyStatement' | translate }}</a>
      </div>
      <div class="col-sm-8 text-center">
        © 2019 Nováček & Partners |
        <a href="http://kitmedia.cz">Kitmedia.cz</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> 