<app-modal>
  <div modal-body>
    <div class="text-left">
      <h3>{{ 'service.client-access2' | translate }}</h3>
      <p>{{ 'service.modal.intro' | translate }}</p>
      <p class="text-right">„<i>{{ 'service.modal.citation1' | translate }}</i>“</p>
      <p>„<span [innerHTML]="'service.modal.desc1' | translate"></span>“</p>
      <p class="text-right">„<i>{{ 'service.modal.citation2' | translate }}</i>“</p>
      <p>„<span [innerHTML]="'service.modal.desc2' | translate"></span>“</p>
      <p class="text-right">„<i>{{ 'service.modal.citation3' | translate }}</i>“</p>
      <p>„<span [innerHTML]="'service.modal.desc3' | translate"></span>“</p>
      <p class="text-right">„<i>{{ 'service.modal.citation4' | translate }}</i>“</p>
      <p>„<span [innerHTML]="'service.modal.desc4' | translate"></span>“</p>
    </div>
  </div>
</app-modal>