@import './src/variables';
.landing-image {
    position: relative;
    /* The image used */
    background-image: url("/assets/images/landing-image.jpg");
    /* Full height */
    min-width: 100%;
    height: 45vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $grid-size-md) {
        margin-bottom: 150px;
    }
}

img {
    width: 100%;
}

h1 {
    padding-top: 2vw;
    margin-left: 5vw;
    font-size: 3.5vw;
    color: #fff;

    span.en{
        font-size: 2.8vw;
    }
}

#home-buttons {
    padding-top: 2vw;
    margin-left: 5vw;
    button {
        margin-right: 10px;
    }
}

.motto {
    .transparent {
        position: relative;
        color: #fff;
        font-size: 12px;
        background-color: $main-color;
        &:before {
            background: url('/assets/images/service-3.jpg') no-repeat center center;
            background-size: cover;
            -webkit-filter: opacity(.1);
            -moz-filter: opacity(.1);
            -o-filter: opacity(.1);
            -ms-filter: opacity(.1);
            filter: opacity(.1);
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
        }
        p {
            padding: 35px;
            color: #fff;
            font-weight: 700;
        }
    }
}

@media (min-width: $grid-size-md) { 
    .motto {
        position: absolute;
        left: 150px;
        margin-top: -300px;
        max-width: 350px;
    }
}