<div #landing class="landing-image">
  <h1>Headhunting
    <br><span [class]="translate.currentLang">{{ 'home.humanly' | translate }}</span></h1>
  <div id="home-buttons">
    <button type="button" class="btn btn-outline-light d-none d-md-inline-block" [ngx-scroll-to]="'#services'">{{ 'menu.services' | translate }}</button>
    <button type="button" class="btn btn-outline-light d-none d-md-inline-block" [ngx-scroll-to]="'#reference'">{{ 'menu.reference' | translate }}</button>
  </div>

</div>

<div class="motto">
    <div class="transparent">
      <p [innerHTML]="'home.desc' | translate">
      </p>
    </div>
  </div>