@import './src/variables';

div[modal-body]{
  color: $main-color;

  h2{
    margin-top: 30px;
    font-family: $font-family-fireSans;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3{
    font-family: $font-family-fireSans;
    font-weight: 700;
    font-size: 13px;
    &::before, &::after { 
      content: " ";
      display: inline-block;
      width: 35px;
      border-bottom: 1px solid $main-color;
      margin-bottom: 3px;
      margin-left: 10px; margin-right: 10px;
    }
  }

  p{
    padding: 20px 40px;
    font-size: 13px;
  }
}