<app-modal>
  <div modal-body>
    <div class="text-center">
      <a href="http://imsa-search.com" target="_blank">
        <img src="/assets/imsa-new.png" width="50%" title="IMSA executive search" />
      </a>
      <h2>{{ 'head.imsa.name' | translate }}</h2>
      <p>
        {{ 'head.imsa.desc' | translate }}
      </p>
      <p>
        <a href="http://imsa-search.com" target="_blank">http://imsa-search.com</a>
      </p>
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/K7XjWlqXq48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</app-modal>