@import './src/variables';

.contact{
  position: relative;
}

.map{
  width: 100%;

  @media (min-width: $grid-size-sm) {
    min-height: 500px;
  }
}

.contact-box{
  position: relative;
  background-color: $main-color;
  color: #fff;
  max-height: 400px;

  h4{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 25px;
  }

  .text{
    padding: 40px;
    font-size: 13px;
  }

  img{
    display: none;
    
  }
  i{
    margin-right: 10px;
  }

  a{
    color: #fff;
  }

  .links{
    display: block;
    margin-right: 10px;
    margin-top: 7px;
  }

  .social{
    
    background-color: $main-color;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
    a{
      padding-left: 8px;
      padding-bottom: 8px;
      color: #fff;
      line-height: 30px;
    }
  }
}

@media (min-width: 576px) {
  .contact-box{
    position: absolute;
    top: 10%;
    left: 50px;
    height: 80%;
    width: 650px;

    .contact-photo{
      display: block;
      float: left;
      height: 100%;
      margin-right: 40px;
    } 
  
    .imsa{
      position: absolute;
      bottom: -25px;
      left: -15px;
      background-color: #003366;
      font-size: 30px;
      font-weight: 700;
      height: 80px;
      width: 80px;
      a{
        display: block;
        color: #fff;
      }
    }
  
    .social{
      position: absolute;
      bottom: -25px;
      right: -15px;
      background-color: $main-color;
      text-align: center;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, .3);
      a{
        padding-left: 8px;
        padding-bottom: 8px;
        color: #fff;
        line-height: 30px;
      }
    }
  }
}

