<div class="contact">
  <img src="/assets/maps.jpg" alt="mapa" class="map" />

  <div class="contact-box">
    <img src="/assets/images/contact.jpg" class="contact-photo" alt="Nováček and Partners - kontakt">
    <div class="text clearfix">
      <h5>Nováček & Partners, s.r.o.</h5>
      {{ 'contact.adressTitle' | translate }}:
      <p><a target="_blank" href="https://www.google.com/maps/place/Impact+Hub+Praha/@50.0763942,14.4000848,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94fecc6f8d2d:0x2068c37eab9b5371!8m2!3d50.0763908!4d14.4022735?hl=cs">Impact Hub Praha
        <br> Drtinova 557/10
        <br> 150 00 Praha 5
        <br> <span [innerHTML]="'contact.floor' | translate"></span>
      </a>
    </p>

       <p>{{ 'contact.icanddic' | translate }}</p>
      <p>
        <a href="mailto:info@novacekandpartners.com"><i class="far fa-envelope fa-fw"></i> <strong>info@novacekandpartners.com</strong></a><br>
        <a href="tel:739685356"><i class="fas fa-mobile-alt fa-fw"></i> <strong>+420 739 685 356</strong></a><br>
      </p>
      <p>{{ 'contact.memberOf' | translate }}<br>
        <a target="_blank" class="float-left" href="http://imsa-search.com"><img src="/assets/imsa-new.jpg" height="60" class="links" alt="imsa"/></a>
        <a target="_blank" class="float-left" href="http://vse.cz"><img src="/assets/vse.png" height="60" class="links" alt="vse"/></a>

      </p>
    </div>
    <div class="social d-none">
        <a href="https://linkedin.com/in/novacekandpartners/"><i class="fab fa-linkedin-in fa-fw"></i></a><br>
        <a href="https://facebook.com/novacekandpartners/"><i class="fab fa-facebook-f fa-fw"></i></a><br>
        <a href="https://twitter.com/novacekandpartners/"><i class="fab fa-twitter fa-fw"></i></a><br>
    </div>

  </div>
</div>

