@import './src/variables';

h2 {
    color: $main-color;
    font-family: $font-family-fireSans;
    text-transform: uppercase;
    margin: 100px 0 50px 0;
    padding-left: 13%;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    margin-bottom: 50px;


    @media (max-width: $grid-size-lg) {
        font-size: 1.3rem;
    }
    span {
        font-size: 1.2rem;
        letter-spacing: 0.1rem
    }
}

h4 {
    color: $main-color;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 50px 40px;
}

.row{
    position: relative;
}


.service .text {
    background-color: $second-color;
    color: #fff;
    padding: 45px;
    h3 {
        text-transform: none;
        font-size: 1.1rem;
        letter-spacing: 0.085rem;
        font-weight: 800;
    }
    p {
        font-size: 0.8rem;
    }
    ul {
        padding: 0px;
        margin: 0px;
        padding-top: 20px;
        font-size: .8rem;
        font-weight: 800;
        list-style-type: none;
        li {
            padding: 8px 0;
        }
    }
}

.service img{
    width: 100%;
}

.transparent {
    p{
        padding-left: 30px;
        i{
            position: absolute;
            margin-left: -30px;
            margin-top: 10px;
            font-size: 16px;
        }
    }
}


@media (min-width: $grid-size-lg) {
    .service {
        height: 250px;
        &.first {
            background: url('/assets/images/service-1.jpg') no-repeat center center;
            background-size: cover;
        }
        &.second {
            background: url('/assets/images/service-2.jpg') no-repeat center center;
            background-size: cover;
        }
    }
    .service .text {
        z-index: 2;
        position: absolute;
        top: 80%;
        right: -3%;
        width: 300px;
    }
}

.transparent {
    position: relative;
    height: 250px;
    color: #fff;
    a:hover{
        text-decoration: none;
    }
    &.first {
        background-color: $main-color;
        &:before {
            background: url('/assets/images/service-3.jpg') no-repeat center center;
            background-size: cover;
            -webkit-filter: opacity(.3);
            -moz-filter: opacity(.3);
            -o-filter: opacity(.3);
            -ms-filter: opacity(.3);
            filter: opacity(.3);
        }
    }
    &.second {
        background-color: $second-color;
        &:before {
            background: url('/assets/images/service-4.jpg') no-repeat center center;
            background-size: cover;
            -webkit-filter: opacity(.3);
            -moz-filter: opacity(.3);
            -o-filter: opacity(.3);
            -ms-filter: opacity(.3);
            filter: opacity(.3);
        }
    }
    &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
    }
    .text {
        display: block;
        position: absolute;
        padding: 45px;
        h3{
            color: #fff !important;
        }
        p {
            color: #fff !important;
            font-size: 0.9rem;
            //list-style-image: url('/assets/arrow-right.png');
        }
    }
}

.list {
    color: $main-color;
    font-size: 1rem;
    padding-left: 60px; 
    li {
        padding: 8px 0;
        padding-left: 10px;
        a{
            color: $main-color;
        }
    }
}

.shape.first{
    position: absolute;
    right: 0px; top: -80px;
    max-height: 100px;

    @media (min-width: $grid-size-sm) {
        
        right: 0px; top: -150px;
        max-height: 200px;
    }
}

.shape.second{
    max-height: 120px;
}

.modal-body{
    padding: 35px;
    p{
        font-size: 13px; 

        text-align: justify;
        span{
        }
    }
}