<h2 [innerHTML]="'service.title' | translate"></h2>
<div class="row no-gutters clearfix">

  <img src="/assets/shape1.png" class="shape first" alt="Shape">
  <div class="col col-12 col-sm-12 col-lg-6">
    <div class="row no-gutters">
      <div class="col col-12 offset-lg-3 col-lg-9 service first">
        <img src="/assets/images/service-1.jpg" class="img-fluid d-block d-lg-none"  title="{{ 'service.title' | translate }}"/>
        <div class="text">
          <h3>{{ 'service.focus-area' | translate }}</h3>
          <p>{{ 'service.focus-area-desc' | translate }}</p>

          <div class="row">
            <div class="col col-4">
              <ul>
                <li>
                  <a>{{ 'service.finance' | translate }}</a>
                </li>
                <li>
                  <a>{{ 'service.taxes' | translate }}</a>
                </li>
                <li>
                  <a>{{ 'service.law' | translate }}</a>
                </li>
              </ul>
            </div>
            <div class="col col-4">
              <ul>
                <li>
                  <a>{{ 'service.production' | translate }}</a>
                </li>
                <li>
                  <a>{{ 'service.rad' | translate }}</a>
                </li>
                <li>
                  <a>{{ 'service.purchase' | translate }}</a>
                </li>
              </ul>
            </div>
            <div class="col col-4">
              <ul>
                <li>
                  <a>{{ 'service.trade' | translate }}</a>
                </li>
                <li>
                  <a>{{ 'service.marketing' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>

          <p class="pt-4">{{ 'service.focus-area-desc2' | translate }}</p>
        </div>

        <img src="/assets/images/service-2.jpg" class="img-fluid d-block d-lg-none"  title="{{ 'service.title' | translate }}"/>
      </div>
      <div class="col offset-lg-1 col-sm-4 col-lg-8 service second">
      </div>

      <div class="col col-12 d-none d-lg-block">
        <img src="/assets/shape2.png" class="shape second" alt="Shape">
      </div>


    </div>
  </div>
  <div class="col col-12 col-sm-6 col-lg-3">

    <div class="transparent first">
      <a [routerLink]="['service-clients']" class="text">
        <h3 [innerHTML]="'service.client-access' | translate"></h3>
        <p><i class="fa fa-arrow-circle-right"></i>{{ 'service.client-access-desc' | translate }}</p>
      </a>
    </div>
    <h4>{{ 'service.client-service' | translate }}</h4>
    <ul class="list">
      <li>
       {{ 'service.client-service-1' | translate }}
      </li>
      <li>
        {{ 'service.client-service-3' | translate }}
      </li>
      <li>
        {{ 'service.client-service-4' | translate }}
      </li>
    </ul>
  </div>
  <div class="col col-12 col-sm-6 col-lg-3">
    <div class="transparent second">
      <a routerLink="service-candidate" class="text">
        <h3 [innerHTML]="'service.candidate-access' | translate">
        </h3>
        <p><i class="fa fa-arrow-circle-right"></i>{{ 'service.candidate-access-desc' | translate }}</p>
      </a>
    </div>
    <h4>{{ 'service.candidate-service' | translate }}</h4>
    <ul class="list">
      <li>
        {{ 'service.candidate-service-1' | translate }}
      </li>
    </ul>
  </div>
</div>