<app-modal>
  <div modal-body>
    <div class="text-left">
        <h3>{{ 'service.candidate-access2' | translate }}</h3>
        <p>{{ 'service.modal.intro2' | translate }}</p>
        <p class="text-right">„<i>{{ 'service.modal.citation5' | translate }}</i>“</p>
        <p>„<span [innerHTML]="'service.modal.desc5' | translate"></span>“</p>
        <p class="text-right">„<i>{{ 'service.modal.citation6' | translate }}</i>“</p>
        <p>„<span [innerHTML]="'service.modal.desc6' | translate"></span>“</p>
        <p class="text-right">„<i>{{ 'service.modal.citation7' | translate }}</i>“</p>
        <p>„<span [innerHTML]="'service.modal.desc7' | translate"></span>“</p>
        <p class="text-right">„<i>{{ 'service.modal.citation8' | translate }}</i>“</p>
        <p>„<span [innerHTML]="'service.modal.desc8' | translate"></span>“</p>
    </div>
  </div>
</app-modal>