<div class="words up">
  <app-word delay="1000">{{ 'home.humanity' | translate }}</app-word>
  <app-word delay="6000">{{ 'home.trust' | translate }}</app-word>
  <app-word delay="3000">{{ 'home.freedom' | translate }}</app-word>
  <app-word delay="7000">{{ 'home.cordiality' | translate }}</app-word>
</div>


<div id="headhunting">
    <div id="malihu-scrollbar">

    <div class="ref-buttons">
      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/novacek">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/sanders">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/valouchova">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/rezkova">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/kabrt">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/tisnovska">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="imsa">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/neureiterova">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" class="btn btn-light btn-circle btn-xl btn-head" routerLink="headhunter/brizova">
        <i class="fa fa-plus"></i>
      </button>

    </div>



    <img src="assets/HEADHUNTING-LIDSKY.jpg" alt="Headhunting lidsky" id="headhunting-image" />

  </div>
</div>

<div class="words down">
  <app-word delay="5000">{{ 'home.responsibility' | translate }}</app-word>
  <app-word delay="9000">{{ 'home.humility' | translate }}</app-word>
  <app-word delay="1000">{{ 'home.common-work' | translate }}</app-word>
  <app-word delay="3000">{{ 'home.care' | translate }}</app-word>
  <app-word delay="6000">{{ 'home.flexibility' | translate }}</app-word>
</div>