@import './src/variables';



#headhunting{
  max-width: 100%;

   

#headhunting-image{
  width: 2150px;
  margin-left: 50px;
  @media (min-width: $grid-size-md) {
    width: 3120px;
    margin-left: 45px;
  }

  @media (min-width: $grid-size-lg) {
    width: 4080px;
    margin-left: 60px;
  }

}

  

  .ref-buttons{
    position: relative;
    z-index: 3;
  }

  .ref-buttons button:nth-child(1){
    top: 105px;
    left: 135px;
  }

  .ref-buttons button:nth-child(2){
    top: 80px;
    left: 300px;
  }

  .ref-buttons button:nth-child(3){
    top: 100px;
    left: 580px;
  }

  .ref-buttons button:nth-child(4){
    top: 100px;
    left: 850px;
  }

  .ref-buttons button:nth-child(5){
    top: 99px;
    left: 1145px;
  }

  .ref-buttons button:nth-child(6){
    top: 100px;
    left: 1335px;
  }

  .ref-buttons button:nth-child(7){
    top: 35px;
    left: 225px;
  }

  .ref-buttons button:nth-child(8){
    top: 85px;
    left: 1930px;
  }

  .ref-buttons button:nth-child(9){
    top: 105px;
    left: 2130px;
  }

  @media (min-width: $grid-size-md) {
    .ref-buttons button:nth-child(1){
      top: 150px;
      left: 175px;
    }
  
    .ref-buttons button:nth-child(2){
      top: 120px;
      left: 420px;
    }
  
    .ref-buttons button:nth-child(3){
      top: 155px;
      left: 800px;
    }
  
    .ref-buttons button:nth-child(4){
      top: 130px;
      left: 1200px;
    }
  
    .ref-buttons button:nth-child(5){
      top: 150px;
      left: 1630px;
    }
  
    .ref-buttons button:nth-child(6){
      top: 155px;
      left: 1900px;
    }
  
    .ref-buttons button:nth-child(7){
      top: 55px;
      left: 310px;
    }
  
    .ref-buttons button:nth-child(8){
      top: 125px;
      left: 2780px;
    }
  
    .ref-buttons button:nth-child(9){
      top: 165px;
      left: 3070px;
    }
  }

  @media (min-width: $grid-size-lg) {
    .ref-buttons button:nth-child(1){
      top: 200px;
      left: 235px;
    }
  
    .ref-buttons button:nth-child(2){
      top: 180px;
      left: 542px;
    }
  
    .ref-buttons button:nth-child(3){
      top: 200px;
      left: 1170px;
    }
  
    .ref-buttons button:nth-child(4){
      top: 180px;
      left: 1580px;
    }
  
    .ref-buttons button:nth-child(5){
      top: 195px;
      left: 2130px;
    }
  
    .ref-buttons button:nth-child(6){
      top: 205px;
      left: 2500px;
    }
  
    .ref-buttons button:nth-child(7){
      top: 65px;
      left: 400px;
    }
  
    .ref-buttons button:nth-child(8){
      top: 170px;
      left: 3630px;
    }
  
    .ref-buttons button:nth-child(9){
      top: 220px;
      left: 3960px;
    }
  }

  @media (min-width: 4000) {
    .ref-buttons button:nth-child(1){
      top: 260px;
      left: 285px;
    }
  
    .ref-buttons button:nth-child(2){
      top: 220px;
      left: 650px;
    }
  
    .ref-buttons button:nth-child(3){
      top: 250px;
      left: 1370px;
    }
  
    .ref-buttons button:nth-child(4){
      top: 180px;
      left: 1700px;
    }
  
    .ref-buttons button:nth-child(5){
      top: 180px;
      left: 2800px;
    }
  
    .ref-buttons button:nth-child(6){
      top: 220px;
      left: 3470px;
    }
  
    .ref-buttons button:nth-child(7){
      top: 60px;
      left: 3720px;
    }
  
    .ref-buttons button:nth-child(8){
      top: 130px;
      left: 4550px;
    }
  
    .ref-buttons button:nth-child(9){
      top: 60px;
      left: 4920px;
    }
  }

}


.words{ 
  position: relative;
  height: 150px;
  width: 100%;
  a, app-word{
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $second-color;
    position: absolute;
  }

  &.up {
    app-word:nth-child(1){
      top: 80px;
      left: 15vw;
    }

    app-word:nth-child(2){
      top: 10px;
      left: 40vw;
    }

    app-word:nth-child(3){
      top: 45px;
      right: 30vw;
    }

    app-word:nth-child(4){
      top: 115px;
      right: 10vw;
    }
  }

  &.down {
    app-word:nth-child(1){
      top: 45px;
      left: 5vw;
    }

    app-word:nth-child(2){
      top: 115px;
      left: 20vw;
    }

    app-word:nth-child(3){
      top: 10px;
      right: 40vw;
    }

    app-word:nth-child(4){
      top: 80px;
      right: 15vw;
    }

    app-word:nth-child(5){
      top: 80px;
      right: 40vw;
    }
  }
  
  
}

.btn-head{
  position: absolute;
  color: $main-color;

  &:hover{
    background-color: $second-color;
    color: #fff;
  }
}

