<app-modal>
  <div modal-body>
    <div *ngIf="translate.currentLang === 'cs'">
      <H3>Ochrana osobních údajů</H3>
      <p>
        <strong>K čemu potřebujeme mít vaše osobní údaje?</strong>
        <br> Abychom mohli propojovat ty správné kandidáty se správnými zaměstnavateli, máme databázi obsahující osobní údaje
        jak o potenciálních či už umístěných kandidátech, tak kontaktní údaje osob, s nimiž jednáme na straně našich klientů.
        Čím přesnější údaje máme, tím vhodnější nabídky práce vám můžeme nabízet a klientům prezentovat kvalitnější kandidáty.
        Ceníme si vaší důvěry a velmi dbáme na to, aby byly všechny osobní údaje v bezpečí a nakládalo se s nimi nanejvýš
        citlivě, korektně a v souladu se všemi zákony a nařízeními. Právním základem pro zpracovávání dat ze strany klientů
        (firem, které hledají zaměstnance, i lidí, kterým pomáháme najít práci snů) je smluvní plnění. S veřejně přístupnými
        údaji (např. z LinkedIn) pracujeme na obecné rovině na základě našeho oprávněného zájmu, ale jakmile s potenciálními
        kandidáty vstupujeme v přímý kontakt, žádáme o udělení souhlasu se zpracováním jejich osobních údajů. Data těch,
        kteří nám souhlas neudělí, mažeme.
      </p>

      <p>
        <strong>Kdo a jak uchovává a spravuje vaše osobní údaje?</strong>
        <br> Správcem vašich osobních údajů je naše společnost Nováček & Partners, s.r.o. se sídlem Svojsíkova 186, Sulejovice,
        411 11, IČO: 05730074, vedená u Krajského soudu v Ústí nad Labem. Všechna data zpracováváme prostřednictvím profesionální
        databáze spravované evropskou firmou se zastoupením přímo v ČR. Tato data jsou ukládána na serverech v ČR, SR a zálohována
        na serverech umístěných v EU. Pro maximální bezpečí je ještě pravidelně zálohujeme na dalším zabezpečené serveru umístěném v ČR. Se všemi zpracovateli máme uzavřené zpracovatelské smlouvy, aby byly vaše osobní údaje co nejlépe chráněny.

      </p>
      <p>
        <strong>Jaké typy osobních údajů zpracováváme?</strong>
        <br> U klientů jsou to pracovní kontaktní údaje na osoby, s nimiž komunikujeme v rámci jednotlivých projektů. U potenciálních
        kandidátů zpracováváme jejich kontaktní údaje a informace o současném, případně předchozím zaměstnání. V prvních
        fázích vycházíme z veřejně dostupných informací (údaje zveřejněné na LinkedIn apod.), ale okamžitě zasíláme žádost
        o souhlas se zpracováním osobních údajů. Pokud je to relevantní, máme další údaje z životopisů, případně z pohovorů.
        Tyto údaje se týkají především vzdělání, dosavadní praxe a kvalifikace.

      </p>
      <p>
        <strong>Zvláštní kategorie osobních údajů</strong>
        <br> Citlivým údajem je osobní údaj vypovídající o rasovém nebo etnickém původu, politických postojích, náboženství a
        filozofickém přesvědčení, členství v odborových organizacích, genetický nebo biometrický údaj umožňující jedinečnou
        identifikaci fyzické osoby, údaj vypovídající o zdravotním stavu a sexuálním životě.
        <br> Cíleně od vás tyto informace samozřejmě neshromažďujeme, pokud nám je ovšem výslovně neposkytnete sami (například
        během pohovoru a bylo-li by pro vás zásadní, aby o nich věděl váš potenciální budoucí zaměstnavatel) nebo pokud to
        nevyžadují právní předpisy.

      </p>
      <p>
        <strong>Kdo má přístup k vašim informacím?</strong>
        <br> V naší firmě je omezen přístup k vašim osobním údajům na osoby, které tyto údaje potřebují pro výkon své práce.
        Přistupují k nim prostřednictvím osobního účtu v naší databázi ze zaheslovaného pracovního PC a jsou samozřejmě smluvně
        zavázáni mlčenlivostí. Se souhlasem kandidátů poskytujeme jejich osobní údaje i potenciálním zaměstnavatelům přes
        osobní přístup do databáze. Pro zaměstnance a kontraktory správce databáze jsou data viditelná jen v zašifrované
        podobě.

      </p>
      <p>
        <strong>Předávání osobních údajů do zahraničí</strong>
        <br> Vzhledem k tomu, že jsme členi mezinárodní asociace pro executive search (IMSA), obracejí se na nás naši mezinárodní
        partneři v situacích, kdy pro své klienty hledají kandidáty v ČR. Po předchozí domluvě s vámi jim poskytneme vaše
        údaje pro účely daného projektu. Jejich platnost je omezena na tento projekt, a i naši partneři si svá data samozřejmě
        pečlivě chrání.

      </p>
      <p>
        <strong>Doba a způsob uchovávání osobních údajů</strong>
        <br> Osobní údaje našich kontaktů uchováváme standardně po dobu 5 let prostřednictvím naší CRM databáze a na externím
        zálohovém serveru. Budete-li si přát, aby vaše osobní údaje byly odstraněny z našeho CRM systému nebo pokud chcete
        podat námitku proti zpracování svých osobních údajů, napište nám prosím e-mail na adresu info@novacekandpartners.com.

      </p>
      <p>
        <strong>Bezpečnost</strong>
        <br> Přijali jsme technická a organizační opatření k ochraně a zabezpečení vašich osobních údajů. Chráníme je před ztrátou,
        zneužitím či neoprávněným zpřístupněním. Všichni naši pracovníci jakož i třetí strany, které zpracovávají vaše osobní
        údaje, jsou povinni respektovat důvěrnost vašich údajů. Jsou vázáni vnitřní směrnicí či zpracovatelskými smlouvami.
        <br>Není však objektivně možné zaručit 100% bezpečnost. Náš systém pro ukládání a správu dat nicméně pravidelně kontrolujeme
        a používáme taková bezpečností opatření, která jsou v našich silách, aby nedošlo k neoprávněnému přístupu k poskytnutým
        osobním údajům, a která s ohledem na aktuální stav technologií poskytují dostatečné zabezpečení. Přijatá bezpečnostní
        opatření pravidelně aktualizujeme.

      </p>
      <p>
        <strong>Přístup k osobním údajům, které o vás zpracováváme</strong>
        <br> Máte právní nárok požadovat podrobnosti o osobních údajích, které o vás vedeme.
        <br>Pokud si budete chtít ověřit, zda vaše osobní údaje zpracováváme nebo pokud budete požadovat přístup ke svým osobním
        údajům v našich CRM systémech, kontaktujte nás e-mailem na adrese info@novacekandpartners.com.

      </p>
      <p>
        <strong>Oprava, výmaz, omezení zpracování nebo přenositelnost dat</strong>
        <br> Chcete-li potvrdit, že vaše osobní údaje jsou přesné a aktuální, či budete-li požadovat opravu svých osobních údajů,
        jejich výmaz nebo omezení zpracování či budete-li chtít uplatnit své právo na přenositelnost údajů, kontaktujte nás
        e-mailem na adrese info@novacekandpartners.com. Na stejnou adresu se na nás obracejte i s dalšími dotazy či připomínkami.

      </p>
      <p>
        <strong>Stížnosti</strong>
        <br> Pokud máte obavy z možného porušení zákona o ochraně osobních údajů či jiných souvisejících předpisů, obraťte se
        nás prostřednictvím e-mailu na adresu info@novacekandpartners.com nebo písemně na Nováček & Partners, s.r.o., Impact
        Hub Praha, Drtinova 557/10, 150 00 Praha 5. Vaši stížnost bude řešit náš expert na osobní údaje a bude vás informovat
        o přijatých opatřeních.
        <br>Pokud nebudete spokojen/a s tím, jak společnost Nováček & Partners, s.r.o. vaši stížnost vyřešila, máte právo se
        obrátit na Úřad pro ochranu osobních údajů.

      </p>
    </div>


    <div *ngIf="translate.currentLang === 'en'">
      <H3>Privacy statement</H3>
      <p>
        <strong>Why do we need your personal data?</strong>
        <br> In order to be able to connect the right candidates with the right employers, we have a database with personal data about prospective and/or placed candidates, as well as contact information about people we deal with on our clients’ side. The more accurate information we have, the more appropriate job offers you can get, and the more suitable candidates we can present to clients. We appreciate your trust and we assure you that we pay great attention to the safety of your personal data and to the compliance with all legal provisions. 
        <br>The legal basis for processing clients’ data is contractual obligation (be it a company searching for new employees or individuals looking for their dreamjobs). We process data from public sources (e.g. LinkedIn) on a general level on the basis of our legitimate interests; however, as soon as we enter into direct contact with the prospective candidates we ask for their consent to the processing of their personal data. The data of those who haven’t granted us the consent is deleted.
      </p>

      <p>
        <strong>Who stores and processes your personal data and how? </strong>
        <br> The controller of your personal data is our company, Nováček & Partners, s.r.o. with registered office at Svojsíkova 186, Sulejovice, 411 11, ID: 05730074, registered at Krajský soud v Ústí nad Labem. All data is processed through a professional database run by a European company with a branch in the Czech Republic. The data is stored on servers located in the Czech Republic and Slovakia and backed-up on servers within the EU. For maximum security we also back up the data regularily on another server located in the Czech Republic. We have entered processing with all of our processors to ensure maximum security of your pesonal data.

      </p>
      <p>
        <strong>What type of personal data do we process?</strong>
        <br> As far as our clients are concerned, we process work contacts of people we deal with on individual projects. With prospective candidates, we process their contact information and information about their current or previous employment. In the beginning of the placement process, we draw upon public information (e.g. published on LinkedIn), but we ask for the consent to personal data processing as soon as possible. When relevant, we keep record of further data from CVs or interviews. These mainly concern education, work experience and qualifications. 

      </p>
      <p>
        <strong>Special categories of personal data or sensitive data</strong>
        <br> Sensitive data is personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, genetic or biometric data allowing the unique identification of a natural person, data concerning health, sexual orientation or sex life. 
        <br> We do not intentionally collect this type of information, unless you explicitly provide it (e.g. in an interview as you consider it important for your prospective employer to know about) or unless it is required by law. 

      </p>
      <p>
        <strong>Who can access your information?</strong>
        <br> In our company, the access to your personal data is limited to the individuals who need it for performing their job. Data is accessed through their personal account in our database from their password-protected PC belonging to our company.  They are, of course, contractually bound to secrecy. If we obtain the consent to it, we provide candidates’ personal data to prospective employers through a secured database access. The employees and contractors of the database controller can see the data stored in the database only in an encrypted form. 

      </p>
      <p>
        <strong>International transfer of data</strong>
        <br> Since we are members of the International Association for executive search (IMSA), we receive requests from our foreign partners looking for Czech candidates for their clients. In that case we ask for special consent granted only for such specific projects. The due date of this consent is limited and our partners, of course, secure their data carefully, too.

      </p>
      <p>
        <strong>Data retention</strong>
        <br> We usually store personal data for the period of five years through our CRM database and on our external back-up server. If you want to have your data deleted from our CRM systems, or if you wish to object to the processing of your personal data, please email us via info@novacekandpartners.com.

      </p>
      <p>
        <strong>Security</strong>
        <br> We have adpoted technical and organisational measures in order to protect and secure your personal data. We protect the data from loss, abuse or unauthorized access. All of our employees and contractors, as well as all relevant third parties, are obliged to respect the confidentiality of your data. They are bound by internal directive and/or processing contracts. 
        <br> However, it is not possible to ensure 100 % security. Even so, we regularly check our system for data storing and processing and we apply all security measures that we are able to, in order to prevent unauthorized access to your personal data. This is intended to grant sufficient security, given the current technological possiblities available to us. We also regularly update our security measures.

      </p>
      <p>
        <strong>Controlling your personal data</strong>
        <br> You are legally entitled to request details of our personal data about you.
        <br> To confirm whether your personal data is processed in our CRM systems or to access your personal data in our CRM systems, email your request to info@novacekandpartners.com.

      </p>
      <p>
        <strong>Rectification, erasure, restriction of processing or data portability</strong>
        <br> In order to confirm that your personal data is accurate and current or to request rectification, erasure, restriction of processing or a readily portable copy of your personal data, you can contact us by sending an e-mail to info@novacekandpartners.com. In the same way, please contact us with other inquiries or comments. 

      </p>
      <p>
        <strong>Complaints</strong>
        <br> If you are concerned about an alleged breach of privacy law or any other regulation, contact us via email at info@novacekandpartners.com or in writing at Nováček & Partners, s.r.o., Impact Hub Praha, Drtinova 557/10, 150 00 Praha 5. Our GDPR expert will investigate your complaint and provide information about how it will be handled. 
        <br> If you are not satisfied with how Nováček & Partners, s.r.o. resolved your complaint, you have the right to complain to the Office for Personal Data Protection.

      </p>
    </div>
  </div>
</app-modal>