@import './src/variables';

.navbar{
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;

  img{
    padding: 10px;
  }

  .navbar-nav{
    li a{
      padding-left: 20px;
      padding-right: 20px; 
    }
  }

  .dropdown{
    padding-left: 25px;
    &>a{
      padding: 5px 15px;
      border: 1px solid $main-color;
    }
  }
}