<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
      <img src="http://novacekandpartners.com/img/logo-novacek.png" height="70" alt="">
    </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#home" [ngx-scroll-to]="'#home'">{{ 'menu.intro' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#headhunting" [ngx-scroll-to]="'#headhunting'">{{ 'menu.aboutus' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services" [ngx-scroll-to]="'#services'">{{ 'menu.services' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reference" [ngx-scroll-to]="'#reference'">{{ 'menu.reference' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact" [ngx-scroll-to]="'#contact'">{{ 'menu.contact' | translate }}</a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ translate.currentLang == 'cs' ? 'CZ' : 'EN'}}
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="changeLangTo('cs')">CZ</a>
          <a class="dropdown-item" (click)="changeLangTo('en')">EN</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>