
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');


@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

button{
  font-family: $font-family-fireSans;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.5rem
}


.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 8px 11px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 1.5;
}


@media (min-width: $grid-size-md) {
  .btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 14px;
    font-size: 20px;
  }
}

@media (min-width: $grid-size-lg) {
  .btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 12px 17px;
    font-size: 24px;
  }
}

@media (min-width: 4000) {
  .btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 15px 21px;
    font-size: 26px;
  }
}


.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.scrollbar {
  border-radius: 10px;
}
.ng-scroll-view {
  overflow-y: hidden !important;
}
.mCSB_dragger_bar {
  background-color: rgba(7, 81, 86, 0.95) !important;
  &:hover,
  &:active {
    background-color: rgba(7, 81, 86, 0.9) !important;
  }
}
.mCSB_draggerRail{
  background-color: white !important;
  border-bottom: 1px solid rgba(7, 81, 86, 0.8) !important;
}

