/* You can add global styles to this file, and also import other style files */
$font-family-base: 'Open Sans', sans-serif;
$font-family-fireSans: 'Fira Sans Condensed', sans-serif;

$main-color: #075156;
$second-color: #a8a30d;

$light: #fff;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

$navbar-padding-y: 0px;

$navbar-light-color:                rgba($main-color, 1) !default;
$navbar-light-hover-color:          rgba($second-color, .7) !default;
$navbar-light-active-color:         rgba($main-color, 1) !default;
$navbar-light-disabled-color:       rgba($main-color, .3) !default;


$grid-size-sm: 576px;
$grid-size-md: 768px;
$grid-size-lg: 992px;
$grid-size-xl: 1200px;